:root {
  --max-width: 1200px;
  --background-color: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: '微軟正黑體', sans-serif;
  /* background-color: var(--background-color); */
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  font-size: 18px;
}

img {
  object-fit: cover;
}

input {
  outline: none;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 20px;
}

input::placeholder {
  font-size: 18px;
}

input[type='text'] {
  font-size: 18px;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  height: 100vh;
}

.error {
  color: red;
  font-weight: bold;
}

.title {
  text-align: center;
}

.login-section {
  display: grid;
  place-content: center;
}

.login-area {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #fff;
}
