:root {
  --max-width: 1200px;
  --background-color: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: '微軟正黑體', sans-serif;
  background-color: var(--background-color);
}

img {
  object-fit: cover;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  height: 100vh;
}

.error {
  color: red;
  font-weight: bold;
}

.title {
  text-align: center;
}

.login-section {
  display: grid;
  place-content: center;
}
