@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
  --max-width: 1200px;
  --primary-color: #6fcf97;
  --white: #fff;
  --bg-gray: #efefec;
  --text-color-black: #000;
  --text-color-deep-blue: #456074;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
  /* font-size: 18px; */
}

h1 {
  color: var(--white);
}

input {
  padding: 14px 18px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  color: var(--primary-color);
  width: 100%;
}

button {
  padding: 8px 12px;
  border-radius: 30px;
  outline: none;
  border: 1px solid var(--white);
  background-color: var(--white);
  font-size: 18px;
  color: var(--primary-color);
  width: 100%;
  max-width: 350px;
  cursor: pointer;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

.login {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  padding: 2rem;
  overflow: hidden;
}

.login::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: var(--primary-color);
  border-bottom-left-radius: 100% 45%;
  z-index: -1;
  clip-path: unset;
}

.login::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: calc(90%);
  aspect-ratio: 1/1;
  transform: translate(-60%, 60%);
  background-color: var(--bg-gray);
  border-radius: 50%;
  z-index: -1;
}

.login-content {
  /* margin-top: 25%; */
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  font-size: 32px;
  margin-bottom: 0.3rem;
}

.login-description {
  color: var(--white);
  margin-bottom: 2rem;
  width: 100%;
  max-width: 425px;
}

.login-label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--white);
}

.login-input {
  margin-bottom: 3rem;
  z-index: 1;
  width: 100%;
  /* position: relative; */
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 350px;
}

.input-container::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 1rem;
  color: red;
  z-index: 10;
}

.input-container.active::after {
  content: '名稱不可以為空白...';
}

.login-btn {
  margin-bottom: 1rem;
}

.login-btn:hover {
  border: 1px solid var(--white);
  background-color: var(--primary-color);
  color: var(--white);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.socials span {
  background-color: var(--white);
  display: inline-block;
  padding: 6px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.socials span:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--white);
}

.socials span i {
  display: block;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.socials span:hover i {
  color: var(--white);
}

.test-btn {
  background-color: transparent;
  color: var(--white);
  margin-bottom: 1rem;
}

/* game page */
.game {
  padding: 2rem;
  background-color: var(--bg-gray);
}

.card {
  padding: 1rem;
  background: var(--white);
  border-radius: 25px;
}

.card h1 {
  color: #000;
}

.card .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.card .btns button {
  border: 1px solid var(--primary-color);
}

.card .btns button:hover,
.card .btns button.active {
  background-color: var(--primary-color);
  color: var(--white);
}

@media screen and (min-width: 391px) {
  .login-content {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  .login::before {
    border-bottom-left-radius: 70% 70%;
    height: 90%;
  }

  .login::after {
    transform: translate(-70%, 70%);
  }
}
