<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container game">
      <div class="card">
        <h1>This is another page</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore cum
          vel, error, magnam ea sint delectus, quo ad soluta quis maxime
          officia! Impedit, nobis ipsam.
        </p>

        <div class="btns">
          <button>我是解答一</button>
          <button class="active">解答二</button>
          <button>有可能是解答三</button>
          <button>也是解答四</button>
        </div>
      </div>
    </div>

    <script src="../static/script.js"></script>
  </body>
</html>
