<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>互動答題程式</title>
  </head>
  <body>
    <div class="container login-section">
      <h1 class="title">Login Page</h1>
      <p>This is login page</p>
      <div class="login-area">
        <h4 class="error">顯示錯誤訊息用</h4>
        <input type="text" required />
        <button>Login Button</button>
        <a href="/">Home Page</a>
      </div>
    </div>

    <script src="../static/js/script.js"></script>
  </body>
</html>
